# Ignore the VSCode folder
.vscode/

# Ignore node modules
node_modules/

# Ignore build output
dist/
build/

# Ignore environment files
.env
!.env.template

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
statletics-backend/venv/